{#      **************************************    LES FORMULAIRES: à partir de 20min52: nouvelle Route pour une nouvelle recette ****************************************************     #}

  {% extends 'base.html.twig' %}

    {% block title "Créer une recette" %}

    {% block body %}

        <h1> Créer une nouvelle recette </h1>

        {{ form(form)}} 

    {% endblock %} 